:root {
    --sixty: #efe8de;
    --thirty: #2c2721;
    --ten: #664238;
    --blue: rgb(94, 128, 227);

}

* {

    font-family: monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
html {
    height: 100dvh;
    width: 100dvw;
}

body {
    background-color: black;
}

.loginPage {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;

}

.loginPage h1 {
    font-weight: 400;
    font-size: 8rem;
    color: var(--sixty);

}

.loginCard {
    color: white;
    padding-top: 10rem;
    padding-bottom: 10rem;
    height: max-content;
    width: 27rem;
    background-color: rgba(36, 36, 36, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border-radius: 20px; */
    border-image: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%) 1;

    border-width: 1px;
    border-style: solid;

    box-shadow: inset 0px 0px 10px 5px rgb(0, 0, 0);
}

.loginCard>p {
    font-size: 4rem;
    margin-bottom: 30px;
}

.loginCard form {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: max-content;
}

.loginCard form input {
    padding: 15px 30px;
    border: none;
    outline: none;
    margin: 1.5px;
    border-radius: 5px;
}

/* .loginCard form input:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.loginCard form input:nth-of-type(password):last-of-type {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
} */

.loginCard form p {
    text-align: center;
    color: var(--sixty);
    font-size: 1.1rem;
}

.loginCard form p a {
    text-decoration: none;
    color: rgb(94, 128, 227);

}

.loginCard form p a:hover {
    color: teal;

}

#profilePic {
    display: none;
}

label {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.loginCard form button {
    color: var(--sixty);
    margin: 10px 0;
    padding: 15px 30px;
    border: none;
    outline: none;
    background: rgb(94, 128, 227);
    border-radius: 20px;
}

.loginCard form button:hover {
    background: rgb(50, 86, 196);
}

.header {
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 2rem;
    height: 100dvh;
    width: max-content;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-right: 2px solid var(--sixty);
}

.header .logo h1 {
    color: var(--sixty);
    font-weight: 100;
    font-size: 2.2rem;
    margin-bottom: 3rem;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.header .links ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    color: var(--sixty);
}

.header .links ul li {

    border-bottom: 2px solid #000;
}

.header .links ul li a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 5px 0;
}

.header .links ul li:hover {
    border-color: rgb(94, 128, 227);
}


.header .links ul li svg {
    height: 2rem;
    width: 2rem;
}

.header .links ul li:hover>.icons {
    color: rgb(94, 128, 227);
}

.header .links ul li a {
    color: var(--sixty);
    text-decoration: none;
    font-size: 1.5rem;
    letter-spacing: 0.4rem;
}

.header .links ul li:hover>a {
    color: rgb(94, 128, 227);
}

.rightPanel {
    position: absolute;
    right: 0;
    border-top-left-radius: 20px;
    bottom: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    height: max-content;
    width: 14dvw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    border: 0.2rem solid var(--sixty);
}

.profileArea {
    padding: 1.5rem;
    border: 2px solid var(--sixty);
    border-radius: 20px;
    height: max-content;
    width: 12dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

.profileImage div {
    height: 12rem;
    width: 12rem;
}

.followArea button {
    margin-top: 2rem;
    background: none;
    padding: 0.6rem 0.6rem;
    outline: none;
    border: none;
    border-radius: 10px;
    color: var(--sixty);
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;

}

.followArea button span {
    font-size: 0.8rem;
}

.followArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.followArea button:hover {
    background-color: var(--ten);
}

.profileInfo {
    color: var(--sixty);
    font-size: 0.8rem;
}

.profileInfo h1 {
    text-align: center;
    font-size: 1.4rem;
}

.profileInfo p {
    font-size: 1rem;
}

.bio {
    width: 7dvw;
    color: var(--sixty);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.contentArea {
    position: absolute;
    top: 0;
    left: 25dvw;
    width: 70dvw;
    height: 100dvh;
    overflow-y: scroll;
}

.contentArea::-webkit-scrollbar {
    display: none;
}

.profilePage {
    width: 70dvw;
    overflow-y: scroll;
    padding-bottom: 5rem;

}

.profilePage::-webkit-scrollbar {
    display: none;
}

.profile {
    padding-top: 10rem;
    padding-bottom: 10rem;
    width: 70dvw;
    height: 40dvh;
    display: flex;
    gap: 8rem;
    justify-content: flex-start;
    align-items: center;
}

.profile>div {
    height: 15rem;
    width: 15rem;
}

.profileDataArea {
    color: var(--sixty);
    height: 40dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    /* align-items: center; */
}

.profileData {
    position: relative;
    font-size: 1.2rem;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.numData {
    font-size: 1.2rem;
    display: flex;
    gap: 2rem;
}

.numData p {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.numData p span {
    font-weight: 900;
    font-size: 1.2rem;
}

.numData p a {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--sixty);
}

.listofposts {
    width: max-content;
    overflow-y: scroll;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0.1rem;
}

.listofposts img {
    height: 280px;
    width: 280px;
    object-fit: cover;
    margin: 0.1rem;

}

.listofposts::-webkit-scrollbar {
    display: none;
}

.followersPage {
    color: var(--sixty);
    font-size: 1.5rem;
    margin: 5rem;
    padding-bottom: 2rem;
}

.followers {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 8rem;
    margin-left: 5rem;
    gap: 1rem;
    overflow-y: scroll;
}

.follower {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;

}

.followers::-webkit-scrollbar {
    display: none;
}

.searchPage {
    padding: 5rem 0;
    font-size: 1.5rem;

}

.searchBarArea {
    color: var(--sixty);
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

.searchBarArea svg {
    height: 3rem;
    width: 3rem;
}

.searchBar {
    background: var(--sixty);
    padding: 1rem 10rem 1rem 1.5rem;
    font-size: 1.5rem;
    border-radius: 5rem;
    outline: none;
    border: none;
}

.homepage {
    color: var(--sixty);

}

.homepageContent {
    height: 100dvh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.homepageContent h1 {
    font-size: 8rem;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.homepageContent span {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.homepageContent p {
    font-size: 2rem;

}


.notfound {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: var(--sixty);
}


.wheel-and-hamster {
    --dur: 1s;
    position: absolute;
    top: 35dvh;
    left: 30dvw;
    width: 12em;
    height: 12em;
    font-size: 14px;
  }
  
  .wheel,
  .hamster,
  .hamster div,
  .spoke {
    position: absolute;
  }
  
  .wheel,
  .spoke {
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .wheel {
    background: radial-gradient(100% 100% at center,hsla(0,0%,60%,0) 47.8%,hsl(0,0%,60%) 48%);
    z-index: 2;
  }
  
  .hamster {
    animation: hamster var(--dur) ease-in-out infinite;
    top: 50%;
    left: calc(50% - 3.5em);
    width: 7em;
    height: 3.75em;
    transform: rotate(4deg) translate(-0.8em,1.85em);
    transform-origin: 50% 0;
    z-index: 1;
  }
  
  .hamster__head {
    animation: hamsterHead var(--dur) ease-in-out infinite;
    background: hsl(30,90%,55%);
    border-radius: 70% 30% 0 100% / 40% 25% 25% 60%;
    box-shadow: 0 -0.25em 0 hsl(30,90%,80%) inset,
          0.75em -1.55em 0 hsl(30,90%,90%) inset;
    top: 0;
    left: -2em;
    width: 2.75em;
    height: 2.5em;
    transform-origin: 100% 50%;
  }
  
  .hamster__ear {
    animation: hamsterEar var(--dur) ease-in-out infinite;
    background: hsl(0,90%,85%);
    border-radius: 50%;
    box-shadow: -0.25em 0 hsl(30,90%,55%) inset;
    top: -0.25em;
    right: -0.25em;
    width: 0.75em;
    height: 0.75em;
    transform-origin: 50% 75%;
  }
  
  .hamster__eye {
    animation: hamsterEye var(--dur) linear infinite;
    background-color: hsl(0,0%,0%);
    border-radius: 50%;
    top: 0.375em;
    left: 1.25em;
    width: 0.5em;
    height: 0.5em;
  }
  
  .hamster__nose {
    background: hsl(0,90%,75%);
    border-radius: 35% 65% 85% 15% / 70% 50% 50% 30%;
    top: 0.75em;
    left: 0;
    width: 0.2em;
    height: 0.25em;
  }
  
  .hamster__body {
    animation: hamsterBody var(--dur) ease-in-out infinite;
    background: hsl(30,90%,90%);
    border-radius: 50% 30% 50% 30% / 15% 60% 40% 40%;
    box-shadow: 0.1em 0.75em 0 hsl(30,90%,55%) inset,
          0.15em -0.5em 0 hsl(30,90%,80%) inset;
    top: 0.25em;
    left: 2em;
    width: 4.5em;
    height: 3em;
    transform-origin: 17% 50%;
    transform-style: preserve-3d;
  }
  
  .hamster__limb--fr,
  .hamster__limb--fl {
    clip-path: polygon(0 0,100% 0,70% 80%,60% 100%,0% 100%,40% 80%);
    top: 2em;
    left: 0.5em;
    width: 1em;
    height: 1.5em;
    transform-origin: 50% 0;
  }
  
  .hamster__limb--fr {
    animation: hamsterFRLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30,90%,80%) 80%,hsl(0,90%,75%) 80%);
    transform: rotate(15deg) translateZ(-1px);
  }
  
  .hamster__limb--fl {
    animation: hamsterFLLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30,90%,90%) 80%,hsl(0,90%,85%) 80%);
    transform: rotate(15deg);
  }
  
  .hamster__limb--br,
  .hamster__limb--bl {
    border-radius: 0.75em 0.75em 0 0;
    clip-path: polygon(0 0,100% 0,100% 30%,70% 90%,70% 100%,30% 100%,40% 90%,0% 30%);
    top: 1em;
    left: 2.8em;
    width: 1.5em;
    height: 2.5em;
    transform-origin: 50% 30%;
  }
  
  .hamster__limb--br {
    animation: hamsterBRLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30,90%,80%) 90%,hsl(0,90%,75%) 90%);
    transform: rotate(-25deg) translateZ(-1px);
  }
  
  .hamster__limb--bl {
    animation: hamsterBLLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30,90%,90%) 90%,hsl(0,90%,85%) 90%);
    transform: rotate(-25deg);
  }
  
  .hamster__tail {
    animation: hamsterTail var(--dur) linear infinite;
    background: hsl(0,90%,85%);
    border-radius: 0.25em 50% 50% 0.25em;
    box-shadow: 0 -0.2em 0 hsl(0,90%,75%) inset;
    top: 1.5em;
    right: -0.5em;
    width: 1em;
    height: 0.5em;
    transform: rotate(30deg) translateZ(-1px);
    transform-origin: 0.25em 0.25em;
  }
  
  .spoke {
    animation: spoke var(--dur) linear infinite;
    background: radial-gradient(100% 100% at center,hsl(0,0%,60%) 4.8%,hsla(0,0%,60%,0) 5%),
          linear-gradient(hsla(0,0%,55%,0) 46.9%,hsl(0,0%,65%) 47% 52.9%,hsla(0,0%,65%,0) 53%) 50% 50% / 99% 99% no-repeat;
  }
  
  /* Animations */
  @keyframes hamster {
    from, to {
      transform: rotate(4deg) translate(-0.8em,1.85em);
    }
  
    50% {
      transform: rotate(0) translate(-0.8em,1.85em);
    }
  }
  
  @keyframes hamsterHead {
    from, 25%, 50%, 75%, to {
      transform: rotate(0);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(8deg);
    }
  }
  
  @keyframes hamsterEye {
    from, 90%, to {
      transform: scaleY(1);
    }
  
    95% {
      transform: scaleY(0);
    }
  }
  
  @keyframes hamsterEar {
    from, 25%, 50%, 75%, to {
      transform: rotate(0);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(12deg);
    }
  }
  
  @keyframes hamsterBody {
    from, 25%, 50%, 75%, to {
      transform: rotate(0);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(-2deg);
    }
  }
  
  @keyframes hamsterFRLimb {
    from, 25%, 50%, 75%, to {
      transform: rotate(50deg) translateZ(-1px);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(-30deg) translateZ(-1px);
    }
  }
  
  @keyframes hamsterFLLimb {
    from, 25%, 50%, 75%, to {
      transform: rotate(-30deg);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(50deg);
    }
  }
  
  @keyframes hamsterBRLimb {
    from, 25%, 50%, 75%, to {
      transform: rotate(-60deg) translateZ(-1px);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(20deg) translateZ(-1px);
    }
  }
  
  @keyframes hamsterBLLimb {
    from, 25%, 50%, 75%, to {
      transform: rotate(20deg);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(-60deg);
    }
  }
  
  @keyframes hamsterTail {
    from, 25%, 50%, 75%, to {
      transform: rotate(30deg) translateZ(-1px);
    }
  
    12.5%, 37.5%, 62.5%, 87.5% {
      transform: rotate(10deg) translateZ(-1px);
    }
  }
  
  @keyframes spoke {
    from {
      transform: rotate(0);
    }
  
    to {
      transform: rotate(-1turn);
    }
  }




/* .dots-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
}

.dot {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: var(--blue);
    animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
    margin-right: 0;
}

.dot:nth-child(1) {
    animation-delay: -0.3s;
}

.dot:nth-child(2) {
    animation-delay: -0.1s;
}

.dot:nth-child(3) {
    animation-delay: 0.1s;
} */

@keyframes pulse {
    0% {
        transform: scale(0.8);
        background-color: var(--blue);
        box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }

    50% {
        transform: scale(1.2);
        background-color: rgb(50, 86, 196);
        box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
    }

    100% {
        transform: scale(0.8);
        background-color: var(--blue);
        box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
}



.profileData button {
    padding: 0.5rem;
    background-color: #000;
    color: white;
    outline: none;
    border: none;
    border: 1px solid grey;
    border-radius: 10px;
}

.profileData button:hover {
    background-color: #828282;
    color: #000;
}

.options{
    position: absolute;
    top: 3rem;
    left: 9.25rem;
}
.options1{
    position: relative;
    top: -2rem;
    left: -7rem;
}
.options1 ul{
    position: absolute;
    
    list-style: none;
    width: 15rem;
    padding: 0 0;
    /* border-radius: 20px; */
    color: #000;
    background: rgb(255, 255, 255);
}

.profileData ul {

    list-style: none;
    width: 15rem;
    padding: 0 0;
    /* border-radius: 20px; */
    color: #000;
    background: rgb(255, 255, 255);
}

.profileData li {
    font-size: 1.2rem;
    padding: 0.5rem;
    border-bottom: 1px solid black;
    /* border-top:  1px solid black; */
}
.options1 li{
    font-size: 1.2rem;
    padding: 0.5rem;
    border-bottom: 1px solid black;
}
.options1 li:hover{
    background: rgb(150, 150, 150);

}

.profileData li:hover {
    background: rgb(150, 150, 150);
}

.addPost {
    position: absolute;
    top: 25rem;
    left: 10rem;
    z-index: 5;
    background-color: #222222;
    padding: 10rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border: 2px solid;
    box-shadow: inset 0px 0px 200px 20px black;
}

.addPost form {
    display: flex;
    width: 20rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.addPost form button {
    width: 20rem;
    padding: 0.5rem 0;
}

.addPost form input {
    width: 20rem;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 0.5rem 1rem;
}

.shutOff {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;

}

.shutOff svg {
    font-size: 30px;
}

.shutOff svg:hover {
    color: red;
}

.updateProfile {
    position: absolute;
    z-index: 5;
    top: 25rem;
    left: 10rem;
    background-color: #222222;
    padding: 10rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border: 2px solid;
    box-shadow: inset 0px 0px 200px 20px black;
}

.updateProfile form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    gap: 0.5rem;
}

.updateProfile form input {
    width: 20rem;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 1rem;
}

.updateProfile form button {
    width: 20rem;
    border-radius: 5px;
    padding: 1rem 0;
}

.post {
    color: white;
    width: 50rem;
    padding: 5rem;
    box-shadow: 0px 0px 70px 30px #000;
    background-color: #222222;
    position: absolute;
    top: 10rem;
    left: 10rem;
    border-radius: 15px;

}

.post img {
    height: 40rem;
    width: 40rem;
    object-fit: cover;
    box-shadow: 0px 0px 70px 30px #000;
}

.post h2 {
    padding-top: 1rem;
}

.deletePost {
    position: absolute;
    top: 1.5rem;
    right: 4rem;
}

.deletePost svg {
    font-size: 30px;
}

.deletePost svg:hover {
    color: red;
}
.postimage:hover{
    opacity: 0.7;
}
.likecomment{
    position:absolute;
    bottom: 2rem;
    left: 5rem;
    display: flex;
    gap: 1rem;
}
.likecomment svg{
    font-size: 30px;
}
.likecomment svg:hover{
    color: var(--blue);
}

@media screen and (width<900px) {
    
    .contentArea{
        width: 100dvw;
        height: 95dvh;
        left: 0;
    }
    .homepage{
        width: 100dvw;
    }
    .homepageContent{
        width: 60dvw;
        height: 95dvh;
        margin: auto;
    }
    .header{
        
        position: absolute;
        width: 100dvw;
        /* font-size: 2rem; */
        align-items:center;
        height:5dvh;
        padding: 0;
        bottom: 2rem;
        border: none;
        z-index: 1;
    }
    .header .logo{
        display: none;
    }
    .header .links ul{
        flex-direction: row;
    }.header .links ul li {
        border: none;
    }
    .header .links ul li svg{
        
        height: 2.5rem;
        width:  2.5rem;
    }
    .header .links ul li a span{
        display: none;    
    }.homepageContent h1{
        font-size: 2.5rem;
    }    .homepageContent p {
        font-size: 1.5rem;
    }
    .searchPage{
        padding-top: 1rem;
    }
    .searchBarArea{
        width: 100dvw;
        gap: 0.5rem;
        
    }
    .searchBar{
        padding: 1rem 5.5rem 1rem 1.5rem;
    }
    .profilePage{
        width: 100dvw;
    }
    .profile {
        padding-top: 3rem;
        padding-bottom: 3rem;
        height: max-content;
        display: flex;
        gap: 2rem;
        justify-content: flex-start;
        padding-left: 2rem;
        width: 100dvw;
        align-items: flex-start;
    }
    .profile>div{
        height: 8rem;
        width: 8rem;
    }
    .profileDataArea{
        gap: 0rem;
    }
    .numData{
        flex-direction: column;
        gap: 0.5rem;
    }
    
    .profileData p{
        font-size: 1.1rem;
    }
    .numData p{
        font-size: small;
        gap: 0.3rem;
    }
    .numData p span{
        font-size: medium;
    }
    .listofposts {
        width: max-content;
        overflow-y: scroll;
        overflow-x: hidden;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: auto;
    }
    .listofposts img {
        height: 130px;
        width: 130px;
        object-fit: cover;
        margin: 0.1rem;
    
    }
    
    .followersPage{
        font-size: 1rem;
        margin: 2rem;
    }
    .followers{
        font-size: 0.75rem;
        margin-top: 1rem;
        margin-left: 2rem;
    }
    .follower{
        font-size: 0.75rem;
    }
    .options{
        top: 3rem;
        left: -3rem;
    }
    .addPost{
        top: 30%;
        left: 12%;
        padding: 3rem;
    }
    .updateProfile{
        top: 30%;
        left: 12%;
        padding: 13rem;
        /* justify-content: flex-start; */
        /* display: block; */
    }
    .updateProfile h2{
        position:absolute;
        top: 8rem;
    }
    .options1{
        top: -2rem;
    }
    .updateProfile form{
        width: 0rem;
    }
    .shutOff{
        top: 2.5rem;
        color: red;
    }
    .deletePost {
        top: 2.5rem;
    }
    .deletePost svg{
        color: red;
    }
    .post{
        width: 27rem;
        left: 1.75rem;
        padding: 2rem 0rem;
        margin: auto;
    }
    .post img{
        margin: auto;
        width: 27rem;
        height: 27rem;
    }
    .post h2{
        padding-left: 1rem;
    }
}